html, body {
    margin: 0;
}

header {
    padding: 20px;
}

#logo, #login {
    display: inline-block;
}

#login {
    float: right;
}

label {
    font-weight: bold;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url('../img/fondos/login2.jpg') no-repeat fixed center;
    background-size: cover;
    transition: background 2s;
}

#fondo {
    position: absolute;
    height: 100%;
    width: 100%;
    animation-name: fondo;
    animation-duration: 4s;
    background-color: rgba(0,0,0,0.5);
}

@keyframes fondo {
    from {
        background-color: rgba(0,0,0,0);
    }
    to {
        background-color: rgba(0,0,0,0.5);
    }
}

main {
    width: 480px;
    margin: 0 auto;
}

.alta-bloque {
    padding: 40px;
    padding-bottom: 80px;
    background: #FFFFFF;
    box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.2);
}

.cuadrocont {
    margin-bottom: 10px;
    width: 100%;
}

.cuadrocont:last-child {
    margin-bottom: 20px;
}

.cuadro {
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    width: 100%;
    display: inline-block;
    padding: 0 4px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #999999;
}

.mediocuadro {
    width: 49%;
}

.mediocuadro:last-child {
    float: right;
}

.cuadro:focus {
    background-color: #ffedd4;
    border: 1px solid #ff9400;
    outline: none;
}

.boton {
    height: 30px;
    line-height: 30px;
    min-width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #b16b07;
    color: #FFFFFF;
    float: right;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}