@import url('https://fonts.googleapis.com/css?family=Dosis|Montserrat|Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Reem Kufi";
    color: #FFF;
    overflow-x: hidden;
    text-align: center;
    background: #fcb447;
    background: -moz-linear-gradient(20deg,  #fcb447 0%, #fcb447 50%, #e29f41 50%, #e29f41 100%);
    background: -webkit-linear-gradient(20deg,  #fcb447 0%,#fcb447 50%,#e29f41 50%,#e29f41 100%);
    background: linear-gradient(20deg,  #fcb447 0%,#fcb447 50%,#e29f41 50%,#e29f41 100%);
    display: block;
}

a {
  text-decoration: none;
}

hr {
  opacity: .5;
  color: #e29f41;
}


/***************MENU*****************/

.icon-menu {
  position: relative;
  font-size: 40px;
  color: #FFF;
  z-index: 4;
  transition-duration: 1s;
}

.menu {
  position: relative;
  float: left;
  width: 50px;
  height: 48px;
  border-radius: 50%;
  background-color: #384259;
  margin-left: 1%;
  margin-top: 1%;
  padding-top: .3%;
  cursor: pointer;
  z-index: 4;
  display: block;
  transition-duration: 1s;
}

.menu:hover {
    background-color: #fcb447;
}

.menu:hover .icon-menu {
  color: #000;
  transition-duration: 1s;
}


/****************ENCABEZADO******************/

.encabezado {
  width: 100%;
  height: 40%;
  background: url('../img/Perfil-IMG/encabezado.jpg') no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.75);
}

.perfil {
  display: block;
  float: left;
  margin-left: 10%;
  margin-top: -9%;
  border-radius: 50%;
  width: 18%;
  border: 3px solid rgba(247,212,132,.5);
  -webkit-box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.75);
  transition-duration: 1s;

}

.perfil:hover {
  transition-duration: 1s;
  transform: rotate(-5deg);
}

.nombre {
  float: left;
  font-size: 50px;
  margin-top: -5%;
  margin-left: 1%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, .5);
}



/****************INFORMACION****************/

.cuadroinf {
  clear: left;
  float: left;
  text-align: left;
  padding-left: 1%;
  margin-left: 6%;
  margin-top: 1%;
  width: 26%;
  height: auto;
  background-color: rgba(232,232,232,.5);
  font-size: 15px;
  border-radius: 2%;
  font-family: 'Open Sans', sans-serif;
  display: block;
}

.informacion{
  position: relative;
  width: 98%;
  margin-left: .3%;
  padding-top: 4%;
  color: #000;
}


.ciudad, .estado, .enlace, .nacimiento {
  margin-left: 2%;
}

.icon-location, .icon-man-woman, .icon-gift, .icon-link {
  color: #e29f41;
}


/*****************FOTOS******************/

.fotos {
  width: 100%;
  color: #000;
  margin-bottom: 2%;
  float: left;
  font-weight: bold;
  margin-top: 5%; 
}

.foto1, .foto2, .foto3, .foto4, .foto5, .foto6 {
  float: left;
  padding-right: 2%;
    cursor: pointer;
}

.foto1, .foto3, .foto5 {
  padding-left: 12%;
}

.tfotos{
  width: 20%;
  cursor: pointer;
  margin-bottom: 2%;
  border-bottom: 2px solid #e29f41;
}

.icon-image{
  text-decoration: none;
  color: #e29f41;
  padding-right: 10%;
}

/*****************COMENTARIOS**************/

.cuadrocom {
  float: left;
  width: 40%;
  height: auto;
  margin-left: 1%;
  margin-top: -5%;
  background-color: rgba(232,232,232,.5);
  font-size: 15px;
  border-radius: 2%;
  font-family: 'Open Sans', sans-serif;
}

.titulocomen{
  margin-left: 40%;
  width: 20%;
  font-size: 22px;
  color: #384259;
  border-bottom: 1px solid #e29f41;
}

.textarea {
  float: left;
  width: 70%;
  height: 45%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 4%;
  float: left;
  font-family: 'Open Sans';
  font-size: 12px;
  border-radius: 3%;
  border: solid 1.5px #CECECE;
  transition: 1s;
  background-color: rgba(232,232,232,.5);
  padding-top: 1%;
  padding-left: 1%; 
}

.textarea:focus {
  border: solid 1.5px #fcb447;
  transition: 1s;
-webkit-box-shadow: 0px 11px 31px -11px rgba(226,159,65,1);
-moz-box-shadow: 0px 11px 31px -11px rgba(226,159,65,1);
box-shadow: 0px 11px 31px -11px rgba(226,159,65,1);
}

.botoncoment {
  width: 20%;
  height: 10%;
  float: right;
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  cursor:pointer;
  color:#333333;
  font-family:'Open Sans';
  font-size:1em;
  font-weight:bold;
  padding:2% 1%;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  margin-top: 3%;
  margin-right: 2%;
}
.botoncoment:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color:#ffab23;
}
.botoncoment:active {
  position:relative;
  top:1px;
}


.coment{
  clear: left;
  float: left;
  width: 100%;
  margin-top: 2%;
}

.imgcoment {
  transition-duration: 1s;
  clear: left;
  float: left;
  width: 10%;
  height: 10%;
  margin-left: 2%;
  margin-bottom: 2%;
  transition-duration: .5s;
  border-radius: 50%;
  border-bottom: 2px solid #e29f41;
}

.usucom {
  float: left;
  margin-left: 1%;
  color: #000; 
  cursor: pointer;
  text-decoration: underline;
  display: block;
}

.comentario {
  float: left;
  margin-top: .5%;
  margin-left: 1%;
  color: #000;
}

.responder, .megusta {
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  font-size: 10px;
  color: #384259;
  text-decoration: underline;
  cursor: pointer;
}

.megusta:hover .icon-heart{
  color:#91010d;
}

.responder:hover .icon-quill {
  color:#e29f41;
}


/*****************NOTICIAS**************/

.cuadronot {
  float: left;
  width: 22%;
  height: auto;
  margin-left: 1%;
  margin-top: -5%;
  background-color: rgba(232,232,232,.5);
  font-size: 15px;
  border-radius: 2%;
  font-family: 'Open Sans', sans-serif;
  color: #384259;
}

.Noticias {
  width: 30%;
  float: left;
  margin-left: 1%;
  border-bottom: 2px solid #e29f41;
  font-weight: bold;
}

.enlace {
  color: #384259;
}

.titulonot {
  clear: left;
  float: left;
  margin-left: 3%;
  margin-top: 2%;
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
  color: #384259;
}

.cuerponot{
  clear: left;
  float: left;
  text-align: justify;
  padding: 2%;
  margin-left: 1%;
  margin-right: 1%;
  border-bottom: 1px solid #e29f41;

}

.masnot {
  clear: left;
  float: left;
  padding-left: 2%;
  text-decoration: underline;
  color: #384259;
  margin-bottom: 2%;
}